---
import Hero from "@/components/hero.astro";
import Features from "@/components/features.astro";
import Pricing from "@/components/pricing.astro";
import Footer from "@/components/footer.astro";
---

<div>
  <Hero />
  <Features />
  <Pricing />
  <Footer />
</div>
