---
import Hero from "@/components/hero.astro";
import Features from "@/components/features.astro";
import Pricing from "@/components/pricing.astro";
---

<div>
  <Hero />
  <Features />
  <Pricing />
</div>
