---
import BackgroundBlur from "@/components/common/backgroundBlur.astro";
import {
  ArrowPathIcon,
  ComputerDesktopIcon,
  LockClosedIcon,
  Cog6ToothIcon,
  CircleStackIcon,
  ChartPieIcon,
} from "@heroicons/react/24/outline";
import React from "react";

interface MicroFeature {
  title: string;
  description: string;
  icon: React.FC<{ className?: string }>;
}

const MicroFeatures: MicroFeature[] = [
  {
    title: "Easy to use Dashboard.",
    description:
      "A dashboard that is easy to use and understand. No more switching between platforms.",
    icon: ComputerDesktopIcon,
  },
  {
    title: "Automated Discord Integration",
    description:
      "Automatically sync your Discord server with your Onu dashboard. No more manual work.",
    icon: ArrowPathIcon,
  },
  {
    title: "In-depth Analytics.",
    description:
      "Onu provides in-depth analytics to help you understand your community better.",
    icon: ChartPieIcon,
  },
  {
    title: "Advanced Event Management.",
    description:
      "An advanced event manager that makes sure you never miss an event within your community.",
    icon: Cog6ToothIcon,
  },
  {
    title: "Built-in Authentication",
    description:
      "Connect your accounts to Onu safely and securely. No more worrying about your data being stolen.",
    icon: LockClosedIcon,
  },
  {
    title: "Database Backups",
    description:
      "Onu automatically backs up your data to ensure that you never lose your data.",
    icon: CircleStackIcon,
  },
];
---

<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <BackgroundBlur />
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2
        class="text-lg font-semibold leading-8 tracking-tight text-violet-400"
      >
        Everything Your Community Needs
      </h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
        Use Multiple Platforms? <p
          class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl"
        >
          No problem.
        </p>
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        Onu not only supports, but interconnects multiple social media platforms
        into one, easy to use, dashboard. No more switching between platforms to
        manage your community.
      </p>
    </div>
  </div>
  <div class="relative overflow-hidden pt-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <img
        src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
        alt="App screenshot"
        class="mb-[-12%] rounded-xl shadow-2xl ring-1 ring-white/10"
        width="2432"
        height="1442"
      />
      <div class="relative" aria-hidden="true">
        <div
          class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-gray-900 pt-[7%]"
        >
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8">
    <dl
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-gray-300 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
    >
      {
        MicroFeatures.map((feature) => (
          <div class="text-whit relative flex h-40 flex-col items-center justify-center gap-2 rounded-lg text-center font-semibold duration-300 hover:bg-gray-700">
            <feature.icon
              className="h-5 w-5 text-violet-500"
              aria-hidden="true"
            />
            {feature.title}
            <dd class="text-center font-light">{feature.description}</dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>
