---
import BackgroundBlur from "@/components/common/backgroundBlur.astro";
import { ArrowRightIcon, ChevronRightIcon } from "@heroicons/react/24/outline";
import Navbar from "@/components/navbar.astro";
import BackgroundSquares from "@/components/common/backgroundSquares.astro";
---

<div class="relative isolate overflow-hidden bg-gray-900">
  <Navbar />
  <BackgroundSquares />
  <BackgroundBlur />

  <div
    class="mx-auto max-w-7xl px-6 pt-10 pb-24 sm:pb-32 lg:flex lg:py-40 lg:px-8"
  >
    <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl lg:pt-8">
      <div class="sm:mt-12 lg:mt-16">
        <a href="#" class="inline-flex space-x-6">
          <span
            class="rounded-full bg-violet-500/10 px-3 py-1 text-sm font-semibold leading-6 text-violet-400 ring-1 ring-inset ring-violet-500/20"
            >What's new</span
          >
          <span
            class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-300"
          >
            <span>Just shipped v1.0</span>
            <ChevronRightIcon className="text-gray-500 h-5 w-5" />
          </span>
        </a>
      </div>
      <h1
        class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl"
      >
        Accelerate your Community Growth
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        Onu is an open-source, self-hosted community platform that helps you
        grow your community and allows your audience to seamlessly engage with
        your content.
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a
          href="#"
          class="rounded-md bg-violet-500 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm duration-300 hover:bg-violet-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-400"
          >Get started</a
        >
        <a
          href="#"
          class="text-base font-semibold leading-7 text-white inline-flex items-center gap-2"
        >
          Learn more
          <ArrowRightIcon className="h-5 w-5" />
        </a>
      </div>
    </div>
    <div
      class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mt-0 lg:mr-0 lg:max-w-none lg:flex-none xl:ml-32"
    >
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <img
          src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
          alt="App screenshot"
          width="2432"
          height="1442"
          class="w-[76rem] rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10"
        />
      </div>
    </div>
  </div>
</div>
