---
import { CheckIcon } from "@heroicons/react/24/outline";

const PricingCards = [
  {
    name: "The Freebie",
    description: "For small discord communities and personal use",
    priceMonthly: 0,
    priceAnnually: 0,
    benefits: [
      "A Web-based Dashboard",
      "Free Discord Intergration",
      "Community Support",
    ],
  },
  {
    name: "The Hobbyist",
    description:
      "For Communities that are just starting out and want some extra features",
    priceMonthly: 24,
    priceAnnually: 19,
    benefits: [
      "A Web-based Dashboard",
      "Full Discord Intergration",
      "Full Twitter Integration",
      "Community Analytics",
      "Specialised Support",
    ],
  },
  {
    name: "The Content Creator",
    description:
      "For Content Creators who want to grow their audience and boost engagement",
    priceMonthly: 69,
    priceAnnually: 59,
    benefits: [
      "A Web-based Dashboard",
      "Full Discord Intergration",
      "Full Twitter Integration",
      "Full Youtube Integration",
      "Full Twitch Integration",
      "In-depth Community Analytics",
      "Specialised Support",
    ],
  },
  {
    name: "The Blockchain Business",
    description:
      "For established businesses that want to unlock all features and get priority support",
    priceMonthly: 109,
    priceAnnually: 89,
    benefits: [
      "A Web-based Dashboard",
      "Full Discord Intergration",
      "Full Twitter Integration",
      "Full Youtube Integration",
      "Full Twitch Integration",
      "Full Blockchain Integration",
      "In-depth Blockchain Analytics",
      "Specialised Support",
    ],
  },
];
---

<!-- This example requires Tailwind CSS v3.0+ -->
<div class="bg-gray-900">
  <div class="relative overflow-hidden pt-32 pb-96 lg:pt-40">
    <div>
      <img
        class="absolute bottom-0 left-1/2 w-[1440px] max-w-none -translate-x-1/2"
        src="https://tailwindui.com/img/component-images/grid-blur-purple-on-black.jpg"
        alt=""
      />
    </div>
    <div class="relative mx-auto max-w-7xl px-6 text-center lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <h2 class="text-lg font-semibold leading-8 text-violet-500">Pricing</h2>
        <p class="mt-2 text-4xl font-bold tracking-tight text-white">
          The right price for you, <br
            class="hidden sm:inline lg:hidden"
          />whoever you are
        </p>
        <p class="mt-6 text-lg leading-8 text-white/60">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit
          numquam eligendi quos odit doloribus molestiae voluptatum.
        </p>
      </div>
    </div>
  </div>
  <div class="flow-root bg-gray-900 pb-32 lg:pb-40">
    <div class="relative -mt-80">
      <div class="relative z-10 mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-7xl lg:grid-cols-4 lg:gap-8"
        >
          {
            PricingCards.map((card) => (
              <div class="flex flex-col rounded-3xl bg-gray-800 shadow-xl">
                <div class="p-8 sm:p-10">
                  <h3
                    class="text-lg font-semibold leading-8 tracking-tight text-violet-500"
                    id="tier-hobby"
                  >
                    {card.name}
                  </h3>
                  <div class="mt-4 flex items-baseline text-5xl font-bold tracking-tight text-gray-100">
                    ${card.priceAnnually}
                    <span class="text-lg font-semibold leading-8 tracking-normal text-gray-400">
                      /mo
                    </span>
                  </div>
                  <p class="mt-6 text-base leading-7 text-gray-200">
                    {card.description}
                  </p>
                </div>
                <div class="flex flex-1 flex-col justify-between rounded-2xl bg-gray-800 p-6 sm:p-8">
                  <ul role="list" class="space-y-4">
                    {card.benefits.map((benefit) => (
                      <li class="flex items-center">
                        <div class="flex-shrink-0">
                          <CheckIcon className="h-6 w-6 text-violet-500" />
                        </div>
                        <p class="ml-3 text-sm leading-6 text-gray-200">
                          {benefit}
                        </p>
                      </li>
                    ))}
                  </ul>
                  <div class="mt-8">
                    <a
                      href="#"
                      class="inline-block w-full rounded-lg bg-violet-500 px-4 py-2.5 text-center text-sm font-semibold leading-5 text-white shadow-md duration-300 hover:bg-violet-700"
                      aria-describedby="tier-hobby"
                    >
                      Get started today
                    </a>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
